.inpuji{
    width: 191px;
height: 35px;


background: #C8C8C8;
border-radius: 12px;

border-color: transparent;
outline: transparent;
}

.textin{

width: 89px;
height: 35px;

border-color: transparent;
outline: transparent;

background: #FDE31A;
border-radius: 12px;
}

.buttonconf{
    width: 113px;

padding: 7px;
background: #1F1F1F;
border-radius: 11.3631px;
border-color: transparent;
outline: transparent;
color: white;
font-weight: 500;
font-size: 15px;
margin-top: 20px;
}