.login_container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .login_form_container {
    width: 800px;
    height: 450px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
      0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }
  .logo {
    margin-top: -17rem;
    width: 10rem;
  }
  
  .left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .backbtn{
    background-color: white;
    border-color: transparent;
    border-radius:10;
    padding: 5px;
    font-weight: 800;
    font-size: 15px;
    color: black;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15)
}
  
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     
  }
  .form_container h1 {
    font-size: 40px;
    margin-top: 0;
  }
  
  .input {
    outline: none;
    border: none;
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin: 5px 0;
    font-size: 11px;
  }
  