.connectbtn{
    background-color: #FDE31A;
    border-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    }

   

    #cardsize{
      width: 150px;
      padding:10px 2px 2px 2px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      
	
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
    
    }
    .listbtn{
      background-color: #FDE31A;
      border-color: transparent;
      border-radius: 10px;
      font-size: 15px; 
    }
    .super_btnMedia{
      background-color: #FDE31A;
      border-color: transparent;
      border-radius: 10px;
      font-size: 15px; 
      width: 80px;
      margin-left: 35px;

    }
    #headerMedia{
        display: none;
      
      }
      @media screen and (max-width: 500px) {
      #headerMedia{
        display: block;
      
      }
      .connect01{
        background-color: white;
        font-weight: 500;
       font-size:15px ;
        color:black;
        width:100px ;
        border-radius: 20px;
          
       margin-top: 20px;
         border-color:rgba(255, 214, 0, 1);
      }
      
      .discount01{
        background-color: white;
        font-weight:500;
        font-size:15px;
          color: black;
          width:80%;
          margin-left: 15px;
          margin-right: 20px;
          border-radius: 10px;
          margin-top:10px ;
          border-color:rgba(255, 214, 0, 1);
          justify-content: center;
          align-items: center;
          text-align: center;
      }
      .listbtnlist01{
        background-color:white;
        color:black;
        width: 100px;
       border-radius: 10px;
       margin-top: 10px;
       margin-bottom: 20px;
      
        
        
        
        border-color: rgba(255, 214, 0, 1);
      }
      #cardsize img{
        width:150px;
       }
      
      }

      @media screen and (max-width: 300px){
        #cardsize{
          width: 100px;
          padding:10px 2px 2px 2px;
        }
        #cardsize img{
         width:80px;
        }
        .discount01{
          background-color: white;
          font-weight:500;
          font-size:15px;
            color: black;
            width:100%;
            
        
            border-radius: 10px;
      margin: 10px 0px 0px 0px;
            border-color:rgba(255, 214, 0, 1);
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .super_btnMedia{
          background-color: #FDE31A;
          border-color: transparent;
          border-radius: 10px;
          font-size: 15px; 
          width: 50px;
          margin-left: 35px;
    
        }
        .listbtnlist01{
          background-color:white;
          color:black;
          width: 80px;
         border-radius: 10px;
         margin-top: 10px;
         margin-bottom: 20px;
        
          
          
          
          border-color: rgba(255, 214, 0, 1);
        }

      }
    