#cardblockk{
    width: auto;
    padding: 20px;
    margin: 10px;

    
    border-color: transparent;
    outline: transparent;
    
    background:  #FFFEFA;
    border-radius: 12px;
    text-align: left;
}

#cardblockk button{
    text-align: left;
    font-size: 15px;
    font-weight: 650;
}

#cardblockkSublnk{
    width: 310px;
    padding: 10px;
    margin: 10px 0px 5px 0px;

    
    border-color: transparent;
    outline: transparent;
    
    background:  #FFFEFA;
    border-radius: 12px;
    text-align: left;
}