.flex-container120{
    display: flex;
    justify-content: space-between;
   
    padding: 15px;
   
    
}

 #Admindashboard{
    background-color: #32333A;
   height: 100px;
   z-index: 1;
  position:fixed ;
  z-index:100;

   top:0
   

   
   

} 

.flex-item-left120{
    justify-content: left;
    color: rgba(255, 255, 255, 1);
}



.flex-item-right120{
    justify-content: right;
    color: rgba(255, 255, 255, 1);
    padding: 24px 0px 0px 0px;
   

}

.username{
    background-color:#FDE31A;
    color: #32333A;
    font-size:15px ;
    padding: 10px;
    border-radius: 30px;
    border-color:transparent ;
}

.dropbtnuser {
    background-color: #FDE31A;
    color:  rgba(50, 51, 58, 1);
    padding: 10px;
    font-size: 25px;
    font-weight:650;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:grey 0px 48px 100px 0px;
  }
  
  .dropdownuser {
    position: relative;
    display: inline-block;
    box-shadow:grey 0px 48px 100px 0px;
  }
  
  .dropdown-contentuser {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    margin-left: 20px;
    border-radius: 5px;
    
  }
  
  .dropdown-contentuser a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-decoration: none;
  }
  
  .dropdown-contentuser a:hover {background-color: rgba(50, 51, 58, 1);color:white}
  
  .dropdownuser:hover .dropdown-contentuser {
    display: block;
  }
  
  .dropdownuser:hover .dropbtnuser {
    background-color: #FDE31A;
  }