

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 190px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-menu a:hover{
    color: black;
    background-color: rgba(255, 214, 0, 1);
    text-decoration: none;
    display: block;
    list-style-type: none;
   
}

.DesktopNavbar{
    display:block
}

.dropbtnuser6{
    background-color:transparent;
    border-color: transparent;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
}
.dropbtnuser6:hover{
    background-color: rgba(255, 214, 0, 1);  
}

.bttun:hover{
    background-color: rgba(255, 214, 0, 1);   
}
.dropdownuser{
    background-color: transparent;
}
.dropdown-contentuser{
    display: none;
    position: absolute;
    
    min-width: 130px;
    
    z-index: 1;
    text-align: left;
    margin-left: 20px;
    border-radius: 5px;
}

@media only screen and (max-width : 500px){
 
.DesktopNavbar{
    display:none
}   
}




