


.flexutemcenter{
   
        background-color:transparent;
        font-weight:500;
        font-size:15.15px;
        line-height:19.33px;
        color:rgba(0,0,1);
        height:45px;
       width:280px;
        border-color:transparent;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        margin: 5px 5px 5px 5px;
        
         
       
}

.catogrybtns{
 background-color:transparent;
 font-weight:400;
 font-size:15.15px;
 line-height:19.33px;
 color:rgba(0,0,1);
 height:45px;
width:280px;
 border-color:transparent;
 text-align: left;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 5px;
 margin-top:2px ;
   
  }

  .catogrybtns:hover{
    background-color: rgb(253, 227, 26);
  }

.sidenav {
    height: 100%;
    width: 300px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;

   
    
  }

  #carasouelsection{
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 27px;
  }

.row{
    display: flex;
}
#imagecol{
    display: flex;
}
#section{
    display: flex;
}
#delivery{
    display: block;
}
#mediabutton{
    display:none;
}
#MediaProduct{
    display: none;
}
#slider{
    display: none;
}
#ShippingCost{
    display: inline;
}

#SectionContainer{
    display: flex;
}

@media screen and (max-width: 500px) {
    .row{
        display: none;
    }
    #imagecol{
        display:none;
    }
    #delivery{
        display: none;
    }
    #mediabutton{
        display: inline;
    }
    #MediaProduct{
        display: inline;
    }
    #slider{
        display: none;
    }
    #ShippingCost{
        display: inline;
    }
    #section{
        display: none;
    }
    #SectionContainer{
        display: none;
    }
  
    

  }

  @media screen and (max-width: 600px){
    #SectionContainer{
        display: none;
    }
  
  }