ul{
  display: flex;
  justify-content: space-evenly;
}
.listitem{
  list-style: none;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  
  padding-top: 20px;
padding-bottom: 20px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height:  1.85714;
  text-decoration: none;
 
}
.form-control{
  width: 400px;
}
*{
  font-family: 'Poppins', sans-serif;
}

.navbarContainer{
  background-color: rgba(255, 214, 0, 1);
  display:none;
  border-radius: 20px;
  gap: 45px;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  margin-bottom: 8px;
  
}

.listitemone{
  list-style: none;
}
form.example::after {
content: "";
clear: both;
display: table;
}
.dropbtn {
background-color: transparent;
color: rgba(0, 0, 0, 1);



border: none;
cursor: pointer;
font-family: 'Poppins', sans-serif;
cursor: pointer;
font-size: 0.875rem;
line-height:  1.85714;
text-decoration: none;
transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dropdown {
position: relative;
display: inline-block;
margin-right:100px ;

}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 190px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 5px;

}

.dropdown-content:hover{

}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
list-style-type: none;

}
.dropdown-content a:hover {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  list-style-type: none;

  
  }
  

.dropdown-content a:hover {background-color: rgba(255, 214, 0, 1);;color:'black'}

.dropdown:hover .dropdown-content {
display: block;
}

@media screen and (min-width: 480px) {
  .navbarContainer {
       display: block;
  }
}
  