.dropbtnsubmenu{
    background-color:#FDE31A;
    border-color: transparent;
   
    color: rgba(0,0,0,1);
    font-size: 15px;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    padding:0px 0px 0px 10px;
   text-align: left;

    font-weight: 800;
    box-shadow: grey 0px 48px 100px 0px;
}
.storebtn{
  border-color: transparent;
   
  color: rgba(0,0,0,1);
  font-size: 15px;
  width: 170px;
 padding: 7px;
  border-radius: 10px;

 text-align:center;
 background-color: #FDE31A;
  font-weight: 800;

}
#carddesding{
    height:300px
}
#sidenavCard{
box-shadow: grey 0px 48px 100px 0px;
border-radius: 20px;


}
.dobtn{
  margin-bottom: 1.5rem;
  letter-spacing: -.025rem;
  box-shadow: 0 4px 7px -1px rgba(0,0,0,.11), 0 2px 4px -1px rgba(0,0,0,.07);
  background-size: 150%;
  background-position-x: 25%;
  background-color: #FDE31A;
  font-weight: 800;
}

  
  #main{
    height: 100%;
    width: 230px;
    z-index: 1;
    scrollbar-width: thin;  
    background-color: transparent;
    overflow-x: hidden;
   overflow:auto;
   max-height:100%;
    overflow-y:scroll;
    position:fixed;
    flex-direction: column;
  }

  ::-webkit-scrollbar-thumb{
    background-color: #FDE31A;
    border-radius: 10px;
  }

  ::-webkit-scrollbar{
    width: 5px;
  }




ul{
    list-style-type:none;
}

.nav-item .nav-item button{
width:150px;
font-size: 15px;
font-weight: 650;
align-items: left;
 
}

.nav-item{
    margin: 10px 0px 0px 0px;
}

/* #main{
    border-left: 1.5px;
    
    border-color:#FDE31A;
    border-radius: 10px;
} */






