.inputfield13{
    width: 1000px;
    height: 50px;
  border-radius: 10px;
    border-color: transparent;
    background-color:rgba(231, 231, 231, 1);
    color: rgba(50, 51, 58, 1);
    font-size: 15px;

    font-style: 'Poppins';
    margin: 15px;
   
}
.name label{
    font-size: 18px;
    color: black;
    margin: 5px;
    margin-bottom: 10px;
}
.usdselecbox{
    width: 1000px;
    height: 50px;
  border-radius: 10px;
    border-color: transparent;
    background-color:rgba(231, 231, 231, 1);
    color: rgba(50, 51, 58, 1);
    font-size: 15px;
 margin-left: 10px;
    font-style: 'Poppins';
   
}

.labelstyle{
    color:rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
   
}
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}

.Checklabel{
    font-size: 20px;
    font:'Poppins';
    line-height: 30px;
   color: rgba(0, 0, 0, 1);
   margin-left: 20px;

}

.Checklabelyes{
    font-size: 20px;
    font:'Poppins';
    line-height: 30px;
   color: rgba(0, 0, 0, 1); 
  
}


.subbtn{
    background-color:rgba(253, 227, 26, 1);
    width: 150px;
    font-weight: 650;
    font-size: 15px;
    height: 54px;
    border-radius: 18px;
    border-color: transparent;
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;   
}
.Individual{
    background-color:rgba(253, 227, 26, 1) ;
    padding: 10px;
    border-radius: 75px;
    width: 200px;
    margin-top: 20px;
    text-align: center;
}

.Addvariation{
    background-color:rgba(253, 227, 26, 1) ;
    padding: 5px;
    width: 140px;
    border-color: transparent;  
    border-radius: 20px;
 
}

.clearbtn{
    background-color:black;
    padding: 10px;
    color:white;
    width: 140px;
    border-color: transparent;  
    border-radius: 20px; 
}

.productbtn{
    background-color:rgba(253, 227, 26, 1) ;
    padding: 10px;
    width: 150px;
    border-color: transparent;  
    border-radius: 20px; 
    font-weight: 800;
}

.flexcontianerform{
    display: flex;
    justify-content: space-between;
}
.flexleft{
    justify-content: left;
}

.flexleft label{
    color: black;
    font-size: 15px;
    font-weight: 800;
    margin: 5px;
   
}

.flexright{
    justify-content: left;
}

.selected-tab1{
    background-color: #fde31a;
    color: black;
    border-color: transparent;
    border-width:0.2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

.flexright input{
    padding: 5px;
    border-radius: 10px;
    background-color:rgba(231, 231, 231, 1) ;
    border-color: transparent;
    margin: 5px;
    width: 200px;
    outline-color:rgba(253, 227, 26, 1) ;
}

.flexright select{
    padding: 5px;
    border-radius: 10px;
    background-color:rgba(231, 231, 231, 1) ;
    border-color: transparent;
    margin: 5px;
    outline-color:rgba(253, 227, 26, 1) ;
    width: 200px;
}

.flexconatiner{
    display: inline;
    justify-content: left;
}


.tablist{
    justify-content: center;
    text-align: center;
    background-color:'white';
  
  }
  
  .tabconetnt{
    margin:'10px'
  }
  




  #tabcontainer{
  
  
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 27px;
  }
  .Dashboardheading h3{

    padding-top:20px;
    padding-bottom: 20px;
  }

